@font-face
{
    font-family: Oleo-Script;
    src: url(fonts/OleoScript-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face
{
    font-family: Oleo-Script;
    src: url(fonts/OleoScript-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face
{
    font-family: OxygenMono;
    src: url(fonts/OxygenMono-Regular.otf) format("opentype");
    font-weight: normal;
}

body
{
    margin: 0;
}

nav
{
    margin: 0 auto;
    width: 972px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.name
{
    display: inline-block;
    font-family: Oleo-Script, sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin-top: 20px;
}

.nametext
{
    font-family: Arial;
    font-size: 11px;
    color: #999999;
    margin-top: -30px;
}

.Menu
{
    list-style: none;
    width: 450px;
    height: 28px;
    font-family: OxygenMono, 'Open Sans', sans-serif;
    font-size: 14px;
    top: 26px;
    right: 100px;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
}

.menulink
{
    text-decoration: none;
    color: #666666;
}

.link1
{
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    width: 50px;
    margin-right: -8px;
}

.button1
{
    right: 20px;
    top: 40px;
    position: absolute;
    width: 84px;
    height: 28px;
    background-color: #ffbc45;
    border-radius: 4px;
    border: solid 1px #d28600;
    color: white;
    text-shadow: 0 -2px #efaf3f;
    transition-duration: 0.4s;
}

.button1:hover
{
    background-color: #ffae15;
}

.button1:active
{
    border: none;
}

.submenu
{
    list-style: none;
    display: none;
    position: absolute;
    top: 110%;
    left: 65%;
    width: 165px;
    height: 258px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    z-index: 100;
    background: white;
}

.submenuLine
{
    border-bottom: 1px solid #e5e5e5;
    margin-left: -27px;
    width: 180px;
}

ul li:hover .submenu
{
    display: block;
}

.submenu::before, .submenu::after
{
    content: '';
    position: absolute;
    left: 13px;
    top: -1px;
    border: 10px solid transparent;
    border-top: 10px solid #e3e3e3;
}

.submenu::after
{
    border-top: 10px solid white;
    top: -2px;
}

.menulink-submenu
{
    display: block;
    text-decoration: none;
    color: #666666;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    margin-left: -30px;
    margin-right: 7px;
}

.submenutext
{
    font-size: 10px;
    color: #aaaaaa;
    font-family: Arial;
}

.menulink-submenu:hover
{
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}

.submenu1
{
    margin-top: 15px;
    height: 45px;
}

.banner1
{
    height: 300px;
    margin: 0 auto;
    width: 972px;
    position: relative;
}

.imagebanner1
{
    margin-left: 80px;
    margin-top: 52px;
    position: absolute;
    height: 201px;
    width: 304px;
    box-shadow: 0px 0px 100px 6px rgba(153, 153, 153, 0.5) inset, 0px 30px 9px -25px rgba(77, 72, 72, 0.63);
}

.imagebanner1:hover .navimage
{
    display: flex;
}

.imagebanner1 img
{
    display: block;
    top: 6px;
    left: 6px;
    position: absolute;
}

.banner1Image2
{
    z-index: 10;
}

.banner1Image1
{
    z-index: 20;
}

.navimage
{
    height: 48px;
    width: 280px;
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: none;
    z-index: 100;
}

.navimage-left, .navimage-description, .navimage-right
{
    background: rgba(0, 0, 0, 0.5);
}

.navimage-description
{
    width: 214px;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 8px;
}

.navimage-left
{
    margin-right: 3px;
    width: 30px;
    border-radius: 4px;
}


.navimage-right
{
    margin-left: 3px;
    width: 30px;
    border-radius: 4px;
}

.navimage-left:hover .arrow
{
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    opacity: 1;
}

.navimage-right:hover .arrow
{
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    opacity: 1;
}

.arrow
{
    border: solid #aaaaaa;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
}

.right
{
    transform: rotate(-45deg);
    opacity: 0.3;
}

.left
{
    transform: rotate(135deg);
    margin-left: 8px;
    opacity: 0.3;
}

.description
{
    position: absolute;
    text-align: right;
    width: 425px;
    height: 200px;
    top: 40px;
    right: 80px;
}

.imagename
{
    font-family: Arial;
    font-size: 13px;
    color: #f6f6f6;
}

.imagesize
{
    font-family: Arial;
    font-size: 11px;
    color: #ffc14c;
}

.imageplace
{
    font-family: Arial;
    font-size: 11px;
    color: #676767;
}

.banner1-descriptionName
{
    font-family: OxygenMono, 'Open Sans', sans-serif;
    font-size: 32px;
    color: #515151;
    line-height: 1.5em;
}

.banner1-descriptionText
{
    font-family: Myriad Pro, 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: lighter;
}

.banner1-descriptionLinkText
{
    font-family: Arial;
    font-weight: bold;
    font-size: 10px;
    color: #77ae80;
    text-transform: uppercase;
    display: block;
    display: none;
}

.banner1-descriptionLink:visited
{
    color: #22722f;
}

.banner1-descriptionLink:link
{
    color: #ffc14c;
}

hr
{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}


.button2
{
    height: 42px;
    width: 168px;
    text-align: left;
    background-color: #ffbc45;
    border-radius: 4px;
    border: solid 1px #d28600;
    transition-duration: 0.4s;
    position: relative;
}

.button2Text1
{
    font-family: OxygenMono;
    font-size: 15px;
    color: white;
    text-shadow: 0 -2px #efaf3f;
}

.button2Text2
{
    font-family: Arial;
    font-size: 12px;
    color: #d28600;
    font-weight: bold;
    text-shadow: -1px 1px 2px rgba(255,  255,  255, 0.51);
}

.button2arrow
{
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-left: 1px solid #d28600;
    display: none;
    box-shadow: 17px 0px 15px -12px rgba(255, 255, 255, 0.16) inset;
}

.button2arrowRight
{
    width: 10px;
    height: 10px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin-top: 10px;
    margin-left: 7px;
}

.button2:hover .button2arrow
{
    display: inline-block;
}


.button2:hover
{
    background-color: #ffae15;
}

.button2:active
{
    border: none;
}

.gift
{
    display: inline-block;
    margin-top: 15px;
}

.gift:before
{
    content: url("icon_gift.png");
}

.gift:hover:before
{
    content: url("icon_giftLink.png");
}

.gift:hover .banner1-descriptionLinkText
{
    display: block;
}

.banner2
{
    margin: 0 auto;
    width: 972px;
    height: 500px;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px 5px 5px -6px rgba(206, 206, 206, 0.6) inset;

}

.banner2Name
{
    font-family: OxygenMono, sans-serif;
    font-size: 18px;
    color: #222222;
    font-weight: lighter;
    padding-top: 10px;

}

.banner2Block
{
    display: flex;
    justify-content: space-between;
}

.banner2Block1
{
    padding: 2px;
    border: 1px solid #f0f0f0;
    position: relative;
}

.banner2Image1, .banner2Image2, .banner2Image3
{
    display: block;
}

.banner2ImageName
{
    background-color: #f0f0f0;
    width: 292px;
    height: 45px;
    margin-right: -2px;
    margin-left: -2px;
    margin-top: 2px;
    padding-top: 10px;
    padding-left: 7px;
    font-family: OxygenMono, sans-serif;
    color: #666666;
    font-size: 13px;
}

.banner2ImageNameText
{
    font-family: Arial;
    font-size: 11px;
    color: #999999;
    line-height: 2.5em;
}

.banner2BlockText
{
    width: 276px;
    font-family: Arial;
    font-size: 12px;
    color: #666666;
    line-height: 1.5em;
    padding: 22px 8px;
    position: relative;
}

.banner2BlockText:after {
    content: "";
    display: block;
    position: absolute;
    width: 299px;
    height: 20px;
    top: 0;
    left: -2px;
    background:
            linear-gradient(-45deg, transparent 75%, #f0f0f0 0) 0 50%,
            linear-gradient(45deg, transparent 75%, #f0f0f0 0) 0 50%;
    background-size: 20px 20px;
}

.banner2Block1:before
{
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    background: rgba(0, 0, 0, .3);
    width: 295px;
    height: 142px;
    opacity: 0;
}

.banner2Imagebutton1
{
    position: absolute;
    top: 54px;
    left: 28%;
    opacity: 1;
    background-clip: padding-box;
    border: 4px solid rgba(43, 43, 43, 0.4);
    background-color: #f9f9f9;
    box-shadow: 0px 9px 5px -5px rgba(36, 36, 36, 0.8);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.banner2Imagebutton2
{
    position: absolute;
    top: 41px;
    left: 125px;
    opacity: 1;
    background-clip: padding-box;
    border: 8px solid rgba(43, 43, 43, 0.4);
    background-color: #f9f9f9;
    box-shadow: 0px 9px 5px -5px rgba(36, 36, 36, 0.8);
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #4b4b4b;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.banner2Imagebutton3
{
    position: absolute;
    top: 54px;
    right: 24%;
    opacity: 1;
    background-clip: padding-box;
    border: 4px solid rgba(43, 43, 43, 0.4);
    background-color: #f9f9f9;
    box-shadow: 0px 9px 5px -5px rgba(36, 36, 36, 0.8);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.banner2Block1:hover:before, .banner2Block1:hover .banner2Imagebutton1, .banner2Block1:hover .banner2Imagebutton2, .banner2Block1:hover .banner2Imagebutton3
{
    opacity: 1;
}

.banner2Imagebutton1:hover, .banner2Imagebutton2:hover, .banner2Imagebutton3:hover
{
    background-color: rgba(232, 169, 50, 0.7);
}

.banner3
{
    margin: 0 auto;
    width: 972px;
    margin-top: -35px;
    margin-bottom: 30px;
}

.banner3Name
{
    font-family: OxygenMono, sans-serif;
    font-size: 18px;
    color: #222222;
    font-weight: lighter;
}

.wrapper
{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.tabs-wrapper
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.content
{
    padding: 20px;
    display: none;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    line-height: 1.6;
    height: 170px;
}

.tab
{
    text-align: center;
    flex-basis: 10%;
    background-color: #f9f9f9;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #999999;
    font-size: 14px;
    padding: 16px 12px;
}

.tab_01Name
{
    font-family: Arial;
    font-size: 14px;
    color: #333333;
}

.input
{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#tab-1:checked ~ .tab-1, #tab-2:checked ~ .tab-2, #tab-3:checked ~ .tab-3
{
    background-color: white;
    color: #666666;
    border-bottom: none;
}

#tab-1:checked ~ .content-1, #tab-2:checked ~ .content-2, #tab-3:checked ~ .content-3
{
    display: block;
}

.tab-01List
{
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    line-height: 1.6;
    position: relative;
}

.tab-01List li
{
    list-style-type: none;
}

.tab-01List li:before
{
    content: "\2771";
    color: #999999;
    position: absolute;
    left: 22px;
}

.tabsText1, .tabsPhoto
{
    display: inline-block;
    width: 33%;
}

.tabsImage
{
    display: block;
    padding: 2px;
    border: 1px solid #f1f1f1;
}

.tabsPhoto
{
    position: relative;
}

.tabsPhotoText
{
    position: absolute;
    left: 130px;
    top: 0;
    font-family: Arial;
    font-size: 12px;
    color: #999999;
    line-height: 1.6;
    padding-right: 15px;
}

.tabsPhotoName
{
    font-weight: bold;
    color: #333333;
}

footer
{
    margin: 0 auto;
    width: 972px;
    height: 230px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 80px;
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 0px 5px 5px -5px rgba(108, 112, 114, 0.6), 0px 5px 5px -6px rgba(206, 206, 206, 0.6) inset;
}

.Menu1Footer
{
    position: absolute;
    left: 0;
    width: 220px;
}

.Menu2Footer
{
    position: absolute;
    left: 220px;
    width: 220px;
}

.LinksFooter
{
    position: absolute;
    left: 440px;
    padding-left: 35px;
}

.Menu1Footer-1, .Menu2Footer-2
{
    list-style: none;
}

.Menu1Footer-1Link, .Menu2Footer-1Link
{
    text-decoration: none;
    margin-left: -40px;
    line-height: 2.5;
    font-family: Arial;
    font-size: 12px;
    color: #666666;
}

.menu1FooterName, .Menu2FooterName, .LinksFooterName
{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #ffad19;
}

.LinksFooter-1Link
{
    text-decoration: none;
    line-height: 0.5;
    font-family: Arial;
    font-size: 12px;
    color: #666666;
    position: relative;
    padding-left: 30px;
}

.LinksFooter span
{
    font-size: 11px;
    color: #aaaaaa;
    display: block;
    padding-left: 30px;
    padding-top: 3px;
}

.LinksFooter-1Link:before
{
    content: url("FooterLabel.png");
    position: absolute;
    left: -3px;
    top: 0;
}

footer a:hover
{
    color: #efaf3f;
    font-weight: bold;
}

.line
{
    border-bottom: 1px solid #e5e5e5;
    margin-left: -40px;
    width: 180px;
}

.line2
{
    border-bottom: 1px solid #e5e5e5;
    width: 498px;
}

.footerborder1
{
    margin: 0 auto;
    width: 972px;
    height: 3px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: 3px;
}

.footerborder2
{
    margin: 0 auto;
    width: 972px;
    height: 3px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: 7px;
}